div.single-topic {
  ul {
    padding-left: 10px;
  }
  ul.code-snippet {
    padding: 0px 20px 0px 20px;
    margin: 0px 50px 0px 50px;
    background-color: lightgray;
  
    p {
      margin: 0px;
      padding: 5px;
      font-size: 18px;
    }
  }

}
